<style type="text/css">
.logo {
  height: 60px;
  width: 140px;
  margin-top: 5px;
}
</style>

<div class="row row-padded">
  <div class="col-sm-2"><a href="http://www.imperial.ac.uk">
    <img class="logo center-block" alt="Imperial College London"
         src="images/logo_imperial_college_london.png" style="width:160px;height:52px">
  </a></div>
  <div class="col-sm-2"><a href="http://www.intel.com">
    <img class="logo center-block" alt="Intel"
         src="images/IntelLogo.png" style="width:90px">
  </a></div>
  <div class="col-sm-2"><a href="http://www.senaicimatec.com.br/">
    <img class="logo center-block" alt="SENAI CIMATEC" src="images/logo_senai_cimatec.png">
  </a></div>
  <div class="col-sm-2"><a href="https://www.slim.eos.ubc.ca/content/sinbadseismic-imaging-next-generation-basis-functions-decomposition">
    <img class="logo center-block" alt="SINBAD" src="images/sinbad.png">
  </a></div>
  <div class="col-sm-2"><a href="http://www.bg-group.com">
    <img class="logo center-block" alt="BG Group" src="images/BGGroupLogo.png"
         style="width:65px;height:65px">
  </a></div>
  <div class="col-sm-2"><a href="http://www.epsrc.ac.uk/">
    <img class="logo center-block" alt="EPSRC" src="images/epsrc_logo.png">
  </a></div>
</div>
