<style type="text/css">
.btn-social-icon {
  margin-top: 5px;
}
</style>

<div class="row row-padded">
  <div class="col-sm-5"></div>
  <div class="col-sm-2">

  <table style="width:100%">
    <tr>
      <!--- Share on Twitter -->
      <th> 
      <a href="https://twitter.com/intent/tweet?text={{ page.title | url_encode }}+{{ site.url }}{{ page.url }}"
         class="btn btn-social-icon btn-twitter" title="Share on Twitter">
        <span class="fa fa-fw fa-twitter" aria-hidden="true"></span>
      </a>
      </th>

      <!--- Share on Facebook -->
      <th>
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"
         class="btn btn-social-icon btn-facebook" title="Share on Facebook">
        <span class="fa fa-fw fa-facebook" aria-hidden="true"></span>
      </a>
      </th>

      <!--- Share on LinkedIn -->
      <th>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}"
         class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
        <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
      </a>
      </th>
    </tr>
  </table>
  </div>
</div>
